body{
    background-color: rgb(241, 232, 241);
}

.header{
    padding: 20px;
}

.links{
    display: inline;
    margin-left: 400px;
}

.links a{
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px;
}

.links a:hover{
    color:#81068f;
    border-top: 2px solid #81068f;
    border-bottom: 2px solid #81068f;
}
.span-1{
    font-weight: bold;
    font-size: x-large
}
.span-1{
    color:#81068f;
}
.inicio{
   text-align: center;
   font-weight: bold;
}
.sobre-nos{
    text-align: center;
    font-style: initial;
}
.converse-com-a-gente{
    text-align: center;
}
.contato{
    text-align: center;
}
.frases{
    text-align: center;
}
.ajuda-extra{
    text-align: center;
}
